<ul>
  <% goals.each do |goal| %>
    <li>
      <%= link_to goal.title, student_goal_path(student, goal), class: "goal-name #{'complete' if goal.completed?}", title: "Date: #{goal.date_range}" %>

      <% if depth < 4 %>
        <%= render partial: "goals", locals: { goals: goal.sorted_children, depth: depth.next, student: student } %>
      <% end %>

    </li>
  <% end %>
</ul>
