<% breadcrumb :long_term_goals, @student %>

<h1>Long-Term Goals for <%= link_to @student.name, student_path(@student) %></h1>

<%= link_to "New Long-Term Goal", new_student_long_term_goal_path(@student) %>

<ul>
  <% @long_term_goals.each do |goal| %>
    <li>
      <h2><%= link_to goal.name, student_long_term_goal_path(@student, goal) %></h2>
      <p><%= goal.description %></p>
    </li>
  <% end %>
</ul>
