<h1>Lesson Plan for <%= @lesson_plan.date.strftime("%A - %-d %B %Y") %></h1>
<div class="student-actions pull-right">
  <%= link_to "Edit Lesson Plan", edit_lesson_plan_path(@lesson_plan), class: "btn btn-primary" %>

  <%= link_to "Delete", lesson_plan_path(@lesson_plan), method: :delete, class: "btn btn-danger",
    data: {confirm: "Are you sure? This will destroy this lesson plan and all its contents. There is no undo!"} %>
</div>


<h2 class="new-goal-subheader"></h2>
