<h1>Students</h1>

<div class="student-actions pull-right">
  <%= link_to "New Student", new_student_path, class: "btn btn-primary" %>
  <%= link_to "Goals for All Students", goals_path, class: "btn btn-success" %>
</div>

<% if @students.present? %>
  <ul class="students-list list-group sortable" id="students-list">
    <% @students.each do |student| %>
      <li class="students-list-item list-group-item" data-id="<%= student.id %>"><%= link_to student.name, student_path(student) %></li>
    <% end %>
  </ul>
<% else %>
  <div class="alert alert-warning">
    You need to add students before anything shows up here.
  </div>
<% end %>

<script type="text/javascript">
 var list = document.getElementById('students-list');
 new ReorderableList(list, '/students/reorder',
                     {ajaxQueue: "StudentsReorder", paramName: "student_ids"}).setup();
</script>
