<% breadcrumb :student, @student %>

<h1><%= @student.name %></h1>

<%= link_to "Edit", edit_student_path(@student) %>
<%= link_to "Long-Term Goals", student_long_term_goals_path(@student) %>

This is the student profile. Nothing to see here yet.
