<% breadcrumb :general_notes  %>

<h1>General Notes</h1>

<div class="student-actions pull-right">
  <%= link_to "New Note", new_note_path, class: "btn btn-primary" %>
</div>

<div class="break"></div>

<% if @notes.present? %>
  <ul class="list-group">
    <% @notes.each do |note| %>
      <li class="list-group-item"><%= link_to note.title, note_path(note) %></li>
    <% end %>
  </ul>

<% else %>
  <div class="alert alert-warning">
    You need to add lesson plans before anything shows up here.
  </div>
<% end %>
