<% breadcrumb :general_notes  %>

<h1>General Notes</h1>

<div class="student-actions pull-right">
  <%= link_to "New Note", new_note_path, class: "btn btn-primary" %>
</div>

<div class="break"></div>

<% if @notes.present? %>
  <ul class="list-group general-notes">
    <% @notes.each do |note| %>
      <li class="list-group-item general-notes-item">
        <%= link_to note.title, note_path(note) %>
        <span class="note-updated-at"><%= note.updated_at %></span>
      </li>
    <% end %>
  </ul>

<% else %>
  <div class="alert alert-warning">
    You need to add lesson plans before anything shows up here.
  </div>
<% end %>
