<% breadcrumb :general_note, @note %>
<% title @note.title %>

<h1><%= @note.title %></h1>
<div class="actions pull-right">
  <%= link_to "Edit", edit_note_path(@note), class: "btn btn-primary" %>
  <%= link_to "Delete", note_path(@note), method: :delete, data: {confirm: "Are You Sure?"}, class: "btn btn-danger" %>
</div>

<% if @note.text.present? %>
  <div class="show-notes">
    <%= raw @note.text %>
  </div>
<% else %>
  <div class="alert alert-warning">
    This note has no text.
  </div>
<% end %>
