<% if @parent %>
  <h1 class="new-goal-header"> <span class="new-goal-parent-name"><%= @goal.persisted? ? "Edit" : "Create" %> <%= goal_name_for_depth(@parent.depth + 1) %></span> </h1>
<% else %>
  <h1 class="new-goal-header"><%= @goal.persisted? ? "Edit" : "Create" %> Long-Term Goal </h1>
<% end %>

<h2 class="new-goal-subheader"></h2>
