.navbar-brand {
    font-size: 30px !important;
}

h1 {
    display: inline !important;
}


form label {
    color: #9B59B6;
    margin-right: 25px;
    font-size: 18px;
    width: 120px;
    font-weight: 400;
}

form input[type='text'] {
    width: 300px;
    border-radius: 2px;
    font-size: 20px;
    padding: 5px 10px;
    border: 1px solid #ddd;
}

form input[type='submit'] {
    display: block;
    margin-top: 50px;
    font-weight: 200;
    font-size: 18px;
    padding: 6px 22px;

}

fieldset {
    margin: 20px 0 !important;
}
