.container {
    $bg: rgba(255, 255, 255, 0.9);
    padding: 30px 40px !important;
    background: $bg;
    border: 2px solid lighten($bg, 10%);
}

.container.full-width {
    padding: 0 !important;
    width: 100% !important;
}

table {
    background-color: white !important;
}

body {
    font-weight: 200;
    background: image-url('bg.png');
}

.navbar-brand {
    font-size: 30px !important;
}

h1 {
    display: inline !important;
}


form label {
    color: #9B59B6;
    font-size: 18px;
    width: 150px;
    font-weight: 400;
}

form .cke {
    margin-top: 10px;
}

form input[type='text'], form input[type='email'], form input[type='password'], form input[type='number'] {
    margin-top: 10px;
    width: 200px;
    border-radius: 2px;
    font-size: 20px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    &.full-width {
        width: 100%;
    }
}

label[for='user_remember_me'] {
    width: 200px;
    font-size: 14px;
    margin-top: 20px;
}

form input[type='submit'] {
    display: block;
    margin-top: 20px;
    font-weight: 200;
    font-size: 18px;
    padding: 6px 22px;

}

fieldset {
    margin: 30px 0 !important;
}


$disclosure-color: #A3A3A3;

.disclosure {
    color: $disclosure-color;
}

.disclosure:hover {
    color: $disclosure-color;
    text-decoration: none;
}

.disclosure:focus {
    color: $disclosure-color;
    outline:  0;
    text-decoration: none;
}

.help-block {
    font-style: oblique;
    color: #BDC3C7 !important;
    font-weight: 600;
    color: black !important;
}

h1 {
    font-size: 36px !important;
    color: black !important;
}

.sign-up-button {
    margin-left: 40px;
    font-size: 18px !important;
    margin-top: 20px;
    font-weight: 200 !important;
}

.new_user {
    border: 1px solid black;
    padding: 20px;
    width: 500px;
}

fieldset label:nth-of-type(2) {
    margin-left: 60px;
}

fieldset label.condensed {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    width: auto;
}

.breadcrumb {
    background-color: #fff;
    border: 1px solid #bbb;
}

.btn.inline {
    display: inline;
}

.btn-secondary {
    $bg: #F1AC47;
    background-color: $bg;
    color: darken($bg, 40%);
    border: 1px solid lighten($bg, 10%);
}

.break {
    margin: 20px 0;
}

.nested-item {
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.51);
    border: 1px solid #bbb;
    padding: 23px;
}

.nested-item-delete {
    margin-top: 12px;
    float: right;
}