.student-goals-summary-wrapper {
    margin: 20px;
    tr {
        vertical-align: top;
    }
}

.student-goals-summary {
    border: 1px solid black;
    padding: 20px;
    margin: 0 10px;
}

.student-goals-summary .goal-name {
    line-height: 26px;
    padding: 2px 5px;
}

.student-goals-summary > div {
    width: 300px;
}

.student-goals-summary .header {
    font-size: 22px;
    margin-bottom: 10px;
}

.student-goals-summary ul {
    padding-left: 15px;
    font-size: 14px;
}

.student-goals-summary > div > ul {
    list-style-type: decimal;

    > li > div > ul {
        list-style-type: lower-alpha;

        > li > div > ul {
            list-style-type: lower-roman;

            > li > div > ul {
                list-style-type: disc;

                > li > div > ul {
                    list-style-type: circle;
                }
            }
        }
    }
}

.student-goals-summary li {
    margin: 2px 0;
}

.student-goals-summary-filters {
    margin: 20px 0 20px 20px;

    input[type='submit'] {
        margin-left: 20px;
        margin-bottom: 4px;
        margin-top: 0;
    }

    input[type='text'] {
        width: 150px;
        text-align: center;
        font-weight: 200;
        margin: 0 10px;
    }
}