.picture-comprehension-gallery ol {
    margin-left: 50px;
}

.picture-comprehension-gallery li {
    font-size: 50px;
}

.picture-comprehension-gallery img {
    margin: 25px;
    padding: 10px;
    border: 1px solid black;
    max-width: 400px;
}

.picture-comprehension-play ul {
}

.picture-comprehension-play li {

    list-style-type: none;
}

.picture-comprehension-play .base-list {
    text-align: center;
    margin: 0 auto;
    border: 1px dashed black;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 10px;
    li {
        display: inline-block;
    }
}

.picture-comprehension-play .target-list {
    border: 1px dashed black;
    min-height: 300px;
    li {
        display: inline;
    }
}

.picture-comprehension-play img {
    max-height: 300px;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
}

.gu-unselectable {
    list-style-type: none;
}

#banner {
    margin-top: 30px;
    margin-bottom: 30px;
}