.student_long_term_goals {
    margin: 30px;
}

.student_long_term_goal {
    border: 1px solid black;
}

.student_short_term_goals {

}

.student_short_term_goal {
    border: 1px solid black;
}

.goal-date {
    float: right;
    font-weight: 600;
    font-style: oblique;
}