.student-name-header {
    margin-top: 20px;
    margin-bottom: 10px;
}

.student-actions, .actions {
    margin-top: 5px;
    display: inline;
    a, .btn-group {
        margin-left: 10px;
    }
}

.student-actions .second-row, .actions .second-row {
    margin-top: 15px;
    > a {
        float: right;
    }
}

.container > .student_goals {
    margin-left: 0;
}

.student_goals {
    margin: 20px 0 20px 30px;
    clear: right;
}

.student_goal.odd {
    background-color: #fff;
}

.student_goal.even {
    background-color: #f9f9f9;
}

.goal-date {
    float: right;
    color: #2980B9;
}

.student_goals {
    h2 {
        color: #F39C12;
    }

    h3 {
        margin-top: 5px;
        color: #9B59B6;
        font-size: 18px;
    }

    h5 {
        color: #27AE60;
    }
}


.edit-student {
    margin-top: 20px;
}

.students-list {
    margin-top: 20px;
}

.students-list-item {
    font-size: 22px;
}

form.new_student {
    margin-top: 20px;
}

.student-goals-alert {
    margin-top: 20px;
}

.show-notes {
    border: 1px solid #ddd;
    padding: 10px;
    min-height: 200px;
    margin-top: 20px;
}